<!DOCTYPE html>
<html>
	<head>
		<title> Teste Angular JS </title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="Scripts/Angular/testes.js"></script>
	</head>
	
	<body ng-app="TesteJSON">

		<div class="container" ng-controller="TesteCtrl">
			<h3>Teste JSON</h3><br>

			Filtrar Usuários:<br>
			<input type="text" ng-model="myFilter"><br><br>

			<table class="table table-striped" >
				<thead><tr>
					<th>Nome</th>
					<th>idade</th>
					<th>Profissão</th>
				</tr></thead>
				<tbody><tr ng-repeat="usuario in usuarios | filter:myFilter">
					<td>{{ usuario.nome }}</td>
					<td>{{ usuario.idade }}</td>
					<td>{{ usuario.profissao }}</td>
				</tr></tbody>
			</table>
		</div>
	</body>
</html>