<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo W3.CSS</title>
    <meta name="viewport" container="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  
  <body ng-app="FinanceApp">
    <div id="main-container" class="w3-container">
      <div class="w3-topnav w3-red">
        <a href="#home"><i class="fa fa-home"></i></a>
        <a href="#despesas">Despesas</a>
        <a href="#receitas">Receitas</a>
        <a href="#relatorios">Relatorios</a>
      </div>

      <!-- Navigation Tabs -->
      <div class="w3-tab">
        <div id="home" class="w3-container">
          <p class="w3-container w3-text-blue w3-xxxlarge">
            Bem-vindo ao FinanceApp!
          </p>
        </div>
      </div>

      <div class="w3-tab">
        <div id="receitas" class="w3-container">
          <p class="w3-container w3-text-teal w3-xxxlarge">Receitas</p>
          <table id="table-receitas" class="w3-table-all" ng-controller="ReceitasCtrl">
            <tr>
              <th>Data</th>
              <th>Descricao</th>
              <th>Valor (R$)</th>
              <th>Recebido</th>
            </tr>
            <tr ng-repeat="receita in lista_receitas">
              <td>{{ receita.data }}</td>
              <td>{{ receita.descricao }}</td>
              <td class="w3-text-teal">R$ {{ receita.valor }}</td>
              <td>
                <input class="w3-input w3-left" type="checkbox" ng-checked="{{ receita.recebido }}"></input>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="w3-tab">
        <div id="despesas" class="w3-container" >
          <p class="w3-container w3-text-red w3-xxxlarge">Despesas</p>
          <table id="table-despesas" class="w3-table-all" ng-controller="DespesasCtrl">
            <tr>
              <th>Data</th>
              <th>Descricao</th>
              <th>Valor (R$)</th>
              <th>Pago</th>
            </tr>
            <tr ng-repeat="despesa in lista_despesas">
              <td>{{ despesa.data }}</td>
              <td>{{ despesa.descricao }}</td>
              <td class="w3-text-red">R$ -{{ despesa.valor }}</td>
              <td>
                <input class="w3-input" type="checkbox" ng-checked="{{ despesa.pago }}"></input>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="w3-tab">
        <div id="relatorios" class="w3-container">
          <p class="w3-container w3-text-blue w3-xxxlarge">Relatórios</p>
          <p class="w3-center"><img class="w3-card-4" src="http://imageshack.com/a/img903/3946/O9flqA.png"></p>
        </div>
      </div>
      <!-- END Navigation Tabs -->
      
      <!-- Modals -->
      <div id="mod-despesa" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
          <header class="w3-container w3-red"> 
            <span onclick="fecharModal('mod-despesa');" class="w3-closebtn">&times;</span>
            <h2>Despesa</h2>
          </header>
          <div class="w3-container">
            <form class="w3-form">
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Data</label>
                <input class="w3-input" type="date">
              </div>
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Descricao</label>
                <input class="w3-input" type="text"></input>
              </div>
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Valor</label>
                <input class="w3-input" type="number" value="0"></input>
              </div>
              <div class="w3-input-group">
                <input class="w3-check" type="checkbox"><span class="w3-text-black"> Está Pago</span></input>
              </div>
              <p class="w3-right-align"><button class="w3-btn w3-ripple w3-right-align w3-red" onclick="salvar('despesa');">Salvar</button></p>
            </form>
          </div>
        </div>
      </div>

      <div id="mod-receita" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="fecharModal('mod-receita');" class="w3-closebtn">&times;</span>
            <h2>Despesa</h2>
          </header>
          <div class="w3-container">
            <form class="w3-form">
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Data</label>
                <input class="w3-input" type="date">
              </div>
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Descricao</label>
                <input class="w3-input" type="text"></input>
              </div>
              <div class="w3-input-group">
                <label class="w3-label w3-text-black">Valor</label>
                <input class="w3-input" type="number" value="0"></input>
              </div>
              <div class="w3-input-group">
                <input class="w3-check" type="checkbox"><span class="w3-text-black"> Recebido</span></input>
              </div>
              <p class="w3-right-align"><button class="w3-btn w3-ripple w3-right-align w3-teal" onclick="salvar('receita');">Salvar</button></p>
            </form>
          </div>
        </div>
      </div>
      <!-- END Modals -->

      <footer class="w3-container">
        <p class="w3-right-align">
          <button class="w3-btn w3-round-medium w3-ripple w3-red" onclick="abrirModal('mod-despesa');">+ Despesa</button>
          <button class="w3-btn w3-round-medium w3-ripple w3-teal" onclick="abrirModal('mod-receita');">+ Receita</button>
        </p>
      </footer>

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src="Scripts/Angular/app_angular.js"></script>
      <script src="Scripts/app_modal.js"></script>

    </div>

  </body>
</html>
